<!--СЕЙЧАС НЕ ИСПОЛЬЗУЕТСЯ!!!-->
{% extends "base.html" %}
{% block title %}Редактирование версии{% endblock %}
{% block content %}

<H3>Редактирование версии "{{ver.name}}" </H3>

<form action="/account/version/change" method="post">
    {% csrf_token %}
    <!--csrf_token должен быть в любой POST форме-->
    <br>
    <p>Номер версии:</p> <input type="text" name="ver_name" value="{{ver.name}}">

    <input type="hidden" name="ver_id" value="{{ ver.id }}">

    <input type="submit" value="Изменить" name="name" class="btn btn-success" />

</form>

<form action="/account/version/delete">
    <input type="hidden" name="ver_id" value="{{ ver.id }}">
    <input type="submit" value="Удалить" name="name" class="btn btn-success" />
</form>

{% endblock %}
