<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!--<link href="{% static "css/account_style.css" %}" rel="stylesheet">-->
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'>


</head>
<body>

    <div id="header">
        <span class="logo">Snuppy</span>
        {% if request.user.is_authenticated %}
            <a href="{% url 'dashboard' %}">Мой рабочий кабинет</a>
        {% endif %}

        <span class="user">
            {% if request.user.is_authenticated %}
                Здравствуйте {{ request.user.first_name }},
                <a href="{% url 'user_logout' %}">Logout</a>
            {% endif %}
        </span>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>