{% extends "account_base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% load staticfiles%}

<div class="container">

    <div class="row">
        <div class="col-lg-5">
            <!--Фильтр-->
        </div>
        <div class="col-lg-2 col-lg-offset-5">
            <button type="button" class="btn btn-primary btn-shadow" id="add_app_btn">Добавить приложение</button>

            <form role="form" action="{% url 'show_group' %}">
                <input type="submit" value="Управление группами" class="btn btn-primary btn-shadow"/>
            </form>

        </div>

    </div>


    <!--an invite modal hidden window, that appears at the page on smb inviting you-->
    <div id="accept_invite" class="modal fade" role="dialog">
        <div class="container add-list-margin">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="add-list">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <p class="titles titles-margin">Приглашение в группу</p>
                    <form role="form" action="#" id="accept-invite">
                         {% csrf_token %}

                        <script type="text/javascript">
                                var invitations_str = '';
                        </script>

                        <div class="form-group">
                            <input type="hidden" id="invites" name="app_id" value="{{ invites }}">
                        </div>

                        <div class="add-app-btn-container">
                            <!--inviting to group-->
                            {% if invites %}
                                {% for invite in invites %}
                                    <div>
                                        {% csrf_token %}
                                            <p name="group_id">{{ invite.group.id }}</p>
                                            <input type="hidden" name="group_id" value="{{ invite.group.id }}" id="group_id_val">
                                            <!--push current invitation into invitations_arr-->
                                            <script type="text/javascript">
                                                    invitations_str += $("input[name='group_id']").val() + ',';
                                                    $("input[name='group_id']").detach();
                                            </script>
                                            <input type="hidden" name="new_user" value="{{ invite.profile.id }}" id="new_user">
                                            <input type="submit" value="Принять" class="btn btn-primary add-app-btn" id="accept_invite_btn" />
                                            <!--<input type="submit" value="Отклонить" class="btn btn-primary btn-shadow"/>{% csrf_token %}-->
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="decline_invite_btn">Отмена</button>
                                        <div style="clear: both;"> </div>
                                    </div>
                                {% endfor %}
                                <script type="text/javascript">
                                        localStorage["invitations"] = invitations_str;
                                        console.log(localStorage["invitations"]);
                                </script>
                            {% endif %}
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <!--inviting to group-->
    <!--{% if invites %}-->
        <!--<p class="titles titles-margin"> Новые приглашения!!!</p>-->
        <!--{% for invite in invites %}-->
            <!--<div>-->
                <!--<p class="titles titles-margin" style="float: left;"> Приглашение в группу "{{ invite.group.name }}" </p>-->
                <!--<form role="form" action="{% url 'accept_invite' %}" method="POST" style="float: left;">{% csrf_token %}-->
                    <!--<p>{{ invite.group.id }}</p>-->
                    <!--<input type="hidden" name="group_id" value="{{ invite.group.id }}">-->
                    <!--<input type="submit" value="Принять" class="btn btn-primary btn-shadow"/>-->
                <!--</form>-->
                <!--<form role="form" action="{% url 'decline_invite' %}" method="POST" style="float: left;">-->
                    <!--<input type="hidden" name="group_id" value="{{ invite.group.id }}">-->
                    <!--<input type="submit" value="Отклонить" class="btn btn-primary btn-shadow"/>{% csrf_token %}-->
                <!--</form>-->
                <!--<div style="clear: both;"> </div>-->
            <!--</div>-->
        <!--{% endfor %}-->
    <!--{% endif %}-->

{% for rule in rules %}
    {% if rule.rule == 'U' %}
        <p class="titles titles-margin">Личные приложения</p>
    {% else %}
        <p class="titles titles-margin group-apps">Приложения группы: {{ rule.group.name }}
            <br>
            уровень доступа: {{ rule.get_rule_display }}
        </p>

    {% endif %}

    <!--table of groups-->
    <table class="table table-background group_tbl" group-id={{rule.group.id}}>
        <tr>
            <th class="col-lg-1"> Название</th>
            <th class="col-lg-4">Описание</th>
            <th class="col-lg-2">Исходник</th>
            <th class="col-lg-2">Дата создания</th>
            <th class="col-lg-2">Платформы</th>
        </tr>

    <!--filling in the table-->
    {% for app in rule.group.application_set.all %}
        <tr>
            <td class="col-lg-1">
                {% if rule.rule == 'G'%}
                    {{ app.name }}
                {% else %}
                    <!--creating a button - link, on pushing the button you call the
                    modal form add_app just like on pushing add_app_btn-->
                    <a class="first-col" href="{% url 'change_app' %}?app_id={{ app.id }}">{{app.name}}</a>
                {% endif %}
            </td>
            <td class="col-lg-4">{{app.description}} </td>
            <td class="col-lg-2">{{app.source_code}}</td>
            <td class="col-lg-2">{{app.created_at}}</td>
            <td class="col-lg-2 text-center">
                <a href="/version/?app_id={{ app.id }}&ver_type=A">
                    <img class="platform-img img-thumbnail" src="/account/media/android-logo.png" alt="Android">
                </a>
                <a href="/version/?app_id={{ app.id }}&ver_type=I">
                    <img class="platform-img img-thumbnail" src="/account/media/ios-logo.png" alt="IOS">
                </a>
                <a href="/version/?app_id={{ app.id }}&ver_type=W">
                    <img class="platform-img img-thumbnail" src="/account/media/win-logo.png" alt="Win Mobile">
                </a>
            </td>
        </tr>
    {% endfor %}

    </table>

{% endfor %}

</div>


<!--add app a modal hidden window, that appears at the page on pushing the button add-->
<div id="add_app" class="modal fade" role="dialog">
    <div class="container add-list-margin">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="add-list">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <p class="titles titles-margin">Редактирование приложения</p>
                <form role="form" action="#" id="add-app">
                     {% csrf_token %}
                    <div class="form-group">
                        <label for="app_name">Имя приложения</label>
                        <input required type="text" class="form-control" id="app_name" name="app_name" placeholder="введите имя приложения">
                    </div>

                    <div class="form-group">
                        <label for="app_description">Описание приложения</label>
                        <textarea rows="5" class="form-control app-descr-area"
                                  id="app_description"
                                  name="app_description" placeholder="описание Вашего приложения"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="app_source">Ссылка на источники</label>
                        <input required type="text" class="form-control" id="app_source" name="app_source" placeholder="ссылка на приложение">
                    </div>


                    <div class="form-group">
                        <label for="group_id">Принадлежность к группе</label>
                        <select name="group_id" form="add-app" id="group_id" class="form-control">
                        {% for gr in group %}
                            {% if gr.name == gr.profile.get.unique_id%}
                                <option value="{{gr.id}}">None</option>
                            {% else %}
                                <option value="{{gr.id}}">{{gr.name}}</option>
                            {% endif%}
                        {% endfor %}
                        </select>
                    </div>

                    <div class="add-app-btn-container">
                        <input type="submit" value="Сохранить" class="btn btn-primary add-app-btn" />
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/add_app_new.js' %}"></script>
<script src="{% static 'js/accept_invite.js' %}"></script>

{% endblock %}
