{% extends "account_base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-lg-5">
            <!--Фильтр-->
        </div>
        <div class="col-lg-2 col-lg-offset-5">
            <form role="form" action="/application/add">
                <input type="submit" value="Добавить приложение" class="btn btn-primary btn-shadow"/>
            </form>

            <form role="form" action="{% url 'show_group' %}">
                <input type="submit" value="Управление группами" class="btn btn-primary btn-shadow"/>
            </form>

        </div>

    </div>

    {% if invites %}
        <p class="titles titles-margin"> Новые приглашения!!!</p>
        {% for invite in invites %}
            <div>
                <p class="titles titles-margin" style="float: left;"> Приглашение в группу "{{ invite.group.name }}" </p>
                <form role="form" action="{% url 'accept_invite' %}" method="POST" style="float: left;">{% csrf_token %}
                    <p>{{ invite.group.id }}</p>
                    <input type="hidden" name="group_id" value="{{ invite.group.id }}">
                    <input type="submit" value="Принять" class="btn btn-primary btn-shadow"/>
                </form>
                <form role="form" action="{% url 'decline_invite' %}" method="POST" style="float: left;">
                    <input type="hidden" name="group_id" value="{{ invite.group.id }}">
                    <input type="submit" value="Отклонить" class="btn btn-primary btn-shadow"/>{% csrf_token %}
                </form>
                <div style="clear: both;"> </div>
            </div>
        {% endfor %}
    {% endif %}

{% for rule in rules %}
    {% if rule.rule == 'U' %}
        <p class="titles titles-margin">Личные приложения</p>
    {% else %}
        <p class="titles titles-margin group-apps">Приложения группы: {{ rule.group.name }}
            <br>
            уровень доступа: {{ rule.get_rule_display }}
        </p>

    {% endif %}


    <table class="table table-background">
        <tr>
            <th class="col-lg-1"> Название</th>
            <th class="col-lg-4">Описание</th>
            <th class="col-lg-2">Исходник</th>
            <th class="col-lg-2">Дата создания</th>
            <th class="col-lg-2">Платформы</th>
        </tr>

    {% for app in rule.group.application_set.all %}
        <tr>
            <td class="col-lg-1">
                {% if rule.rule == 'G'%}
                    {{ app.name }}
                {% else %}
                    <a class="first-col" href="{% url 'change_app' %}?app_id={{ app.id }}">{{app.name}}</a>
                {% endif %}
            </td>
            <td class="col-lg-4">{{app.description}} </td>
            <td class="col-lg-2">{{app.source_code}}</td>
            <td class="col-lg-2">{{app.created_at}}</td>
            <td class="col-lg-2 text-center">
                <a href="/account/version/?app_id={{ app.id }}&ver_type=A">
                    <img class="platform-img img-thumbnail" src="/account/media/android-logo.png" alt="Android">
                </a>
                <a href="version/?app_id={{ app.id }}&ver_type=I">
                    <img class="platform-img img-thumbnail" src="/account/media/ios-logo.png" alt="IOS">
                </a>
                <a href="version/?app_id={{ app.id }}&ver_type=W">
                    <img class="platform-img img-thumbnail" src="/account/media/win-logo.png" alt="Win Mobile">
                </a>
            </td>
        </tr>
    {% endfor %}

    </table>

{% endfor %}

</div>
{% endblock %}
