{% extends "account_base.html" %}
{% load staticfiles%}
{% block title %}Добавление приложения{% endblock %}
{% block content %}

    <div class="container add-list-margin">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="add-list">
                <p class="titles titles-margin">Создание нового приложения</p>

                <form role="form" action="{% url 'add_app' %}" id="add-app">
                     {% csrf_token %}
                    <div class="form-group">
                        <label for="app_name">Имя приложения</label>
                        <input required type="text" class="form-control" id="app_name" name="app_name" placeholder="введите имя приложения">
                    </div>

                    <div class="form-group">
                        <label for="app_description">Описание приложения</label>
                        <textarea rows="5" class="form-control app-descr-area"
                                  id="app_description"
                                  name="app_description" placeholder="описание Вашего приложения"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="app_source">Ссылка на источники</label>
                        <input required type="text" class="form-control" id="app_source" name="app_source" placeholder="ссылка на приложение">
                    </div>


                    <div class="form-group">
                        <label for="group_id">Принадлежность к группе</label>
                        <select name="group_id" form="add-app" id="group_id" class="form-control">
                        {% for gr in group %}
                            {% if gr.name == gr.profile.get.unique_id%}
                                <option value="{{gr.id}}">None</option>
                            {% else %}
                                <option value="{{gr.id}}">{{gr.name}}</option>
                            {% endif%}
                        {% endfor %}
                        </select>
                    </div>

                    <!--<select name="group_id" form="add-app">-->
                        <!--{% for gr in group %}-->
                            <!--{% if gr.name == profile.unique_id%}-->
                                <!--<option value="{{gr.id}}">None</option>-->
                            <!--{% else %}-->
                                <!--<option value="{{gr.id}}">{{gr.name}}</option>-->
                            <!--{% endif%}-->
                        <!--{% endfor %}-->
                    <!--</select>-->

                    <div class="add-app-btn-container">
                        <input type="submit" value="Создать" class="btn btn-primary add-app-btn" id="add_btn"/>
                        <a href="#"><input type="button" value="Отмена" name="name" class="btn btn-primary back-app-btn"/></a>
                    </div>
                </form>

            </div>
        </div>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- If CDN fails to load, serve up the local version -->
    <script>window.jQuery || document.write('<script src=" {% static "js/jquery-3.2.1.min.js" %}"><\/script>');</script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/add_app.js' %}"></script>
    </div>
{% endblock %}

