{% extends "account_base.html" %}
{% block title %}Добавление версии{% endblock %}
{% block content %}


<div class="container add-app-margin">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="add-app">
                    <h3 class="add-app-title">Добавление новой версии <br>для "{{app.name}} под {{ os_type }}"</h3>

                    <form role="form" action="/account/version/compile_ver" method="post" id="add-app">
                         {% csrf_token %}
                        <div class="form-group">
                            <label for="ver_number">Номер версии:</label>
                            <input required type="text" class="form-control" id="ver_number" name="ver_number" placeholder="введите номер версии">
                        </div>

                        <div class="add-app-btn-container">
                            <input type="hidden" name="app_id" value="{{ app.id }}">
                            <input type="hidden" name="os_type" value="{{ os_type }}">
                            <input type="submit" value="Скомпилить" name="name" class="btn btn-primary add-app-btn"/>
                            <a href="#">
                                <input type="button" value="Отмена" name="name" class="btn btn-primary back-version-btn"/>
                            </a>
                        </div>
                    </form>

                </div>
            </div>
      </div>





<!--app and os_type -->
<!--<H3>Добавление новой версии для "{{app.name}} под {{ os_type }}" </H3>-->
<!--<form action="/account/version/compile_ver" method="post">-->
    <!--{% csrf_token %}-->
    <!--&lt;!&ndash;csrf_token должен быть в любой POST форме&ndash;&gt;-->
    <!--<br>-->
    <!--<p>Номер версии:</p> <input type="text" name="ver_number">-->

    <!--<input type="hidden" name="app_id" value="{{ app.id }}">-->
    <!--<input type="hidden" name="os_type" value="{{ os_type }}">-->

    <!--<input type="submit" value="Скомпилить" name="name" class="btn btn-success" />-->

<!--</form>-->

{% endblock %}

