{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<h3>Ваши приложения :</h3>

<table border="1", cellpadding="5">
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Дата создания</th>
        <th>Платформы</th>
   </tr>

    {% for app in applications %}
        <tr>
            <td>{{app.name}} </td>
            <td>{{app.description}} </td>
            <td>{{app.created_at}} </td>
            <td>
                <a href="/account/version/?app_id={{ app.id }}&ver_type=A"> <img src="/account/media/android-logo.png", alt="Android"> </a>
                <a href="/account/version/?app_id={{ app.id }}&ver_type=I"> <img src="/account/media/ios-logo.png", alt="IOS"> </a>
                <a href="/account/version/?app_id={{ app.id }}&ver_type=W"><img src="/account/media/win-logo.png", alt="Win Mobile"> </a>
            </td>
        </tr>
    {% endfor %}

</table>
{% endblock %}