{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<h3>Ваши приложения :</h3>

<table border="1", cellpadding="5">
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Дата создания</th>
        <th>Платформы</th>
   </tr>

    {% for app in applications %}
        <tr>
            <td>{{app.name}} </td>
            <td>{{app.description}} </td>
            <td>{{app.created_at}} </td>
            <td>
                <img src="/account/media/android-logo.png", alt="Android">
                <img src="/account/media/ios-logo.png", alt="IOS">
                <img src="/account/media/win-logo.png", alt="Win Mobile">
            </td>
        </tr>
    {% endfor %}

</table>
{% endblock %}