{% extends "account_base.html" %}
{% block title %}Groups{% endblock %}
{% block content %}

<div class="container">
    <div class="row titles-margin">
        <div class="col-lg-7">
            <p class="titles">Группы в которых вы являетесь администратором: </p>
        </div>
        <div class="col-lg-2 col-lg-offset-3">
            <form role="form" action="group/add_new">
                <input type="submit" value="Создать группу" name="name" class="btn btn-primary btn-shadow "/>
            </form>

        </div>
    </div>

    <table class="table table-background">
        <tr>
            <th class="text-center">Имя группы</th>
            <th class="text-center">Участников</th>
            <th class="text-center">Приложений</th>
        </tr>
        {% for group in groups %}
        <tr>
            <td class="text-center"> <a href = 'group/edit?group_id={{group.id}}'>{{ group.name}} </a> </td>
            <td class="text-center">{{ group.profile.count }}</td>
            <td class="text-center"> {{ group.application_set.count }}</td>

        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}

