{% extends "account_base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="container">
    <div class="row titles-margin">
        <div class="col-lg-7">
            <p class="titles">Версии приложения <big>"{{app.name}}"</big> под <big>{{os_type}}</big></p>
        </div>
        <div class="col-lg-2 col-lg-offset-3">
            <form role="form" action="/account/version/add_new">
                <input type="hidden" name="app_id" value="{{ app.id }}"/>
                <input type="hidden" name="os_type" value="{{ os_type }}">
                <input type="submit" value="Добавить версию" name="name" class="btn btn-primary btn-shadow add-ver-btn"/>
            </form>

        </div>
    </div>


    <table class="table table-background">
        <tr>
            <th class="text-center">Номер</th>
            <th class="text-center">Лог изменений</th>
            <th class="text-center">Дата создания</th>
            <th class="text-center">Ссылка на код</th>
            <th class="text-center">Статус</th>
            <th class="text-center">Удаление</th>
        </tr>
        {% for ver in versions %}
        <tr>
            <td class="text-center">{{ver.number}}</td>
            <td class="text-center">
                {% if ver.changes == 'CHANGELOG.md not found in master branch' %}
                    {{ver.changes}}
                {% else %}
                    <a href="{{ver.changes}}">Просмотреть</a>
                {% endif %}
            </td>
            <td class="text-center"> {{ ver.created_at }} </td>
            <td class="text-center">
                <a href="/account/media/{{ver.path}}">Скачать</a>
            </td>
            <td class="text-center"> {{ver.status}} </td>
            <td>
                <form role="form" action="/account/version/delete">
                    <input type="hidden" name="ver_id" value="{{ ver.id }}">
                    <input type="hidden" name="ver_type" value="{{ ver.ver_type }}">
                    <input type="hidden" name="app_id" value="{{ app.id }}">
                    <input type="submit" value="Удалить" name="name" class="btn btn-primary btn-xs btn-block"/>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}

