{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<h3> Версии приложения "{{app.name}}" под {{os_type}}:</h3>

<table border="1", cellpadding="5">
    <tr>
        <th>Номер</th>
        <th>Лог изменений</th>
        <th>Дата создания</th>
        <th>Ссылка на код</th>
   </tr>

<br>
{% for ver in versions %}
        <tr>

            <td><a href="version/modify/?id={{ver.id}}"> {{ver.name}} </a> </td>
            <td> <a href="/account/media/{{ver.ver_log}}"> Скачать </a> </td>
            <td> {{ ver.created_at }} </td>
            <td> <a href="/account/media/{{ver.path}}">Скачать</a> </td>
        </tr>
{% endfor %}
</table>

<br><br>

<form action="/account/version/add_new">
    <input type="hidden" name="app_id" value="{{ app.id }}">
    <input type="hidden" name="os_type" value="{{ os_type }}">
    <input type="submit" value="Добавить версию" name="name" class="btn btn-success" />
</form>

{% endblock %}

