{% extends "account/templates/account_base.html" %}
{% block title %}Добавление версии{% endblock %}
{% block content %}


<div class="container add-list-margin">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="add-list">
                    <p class="titles ver-add-caption">Новая версия приложения
                        <!--<br>-->
                        <big>"{{app.name}}"</big> под <big>{{os_type}}</big>
                    </p>
                    <form role="form" action="/account/version/compile_ver" method="post" id="add-app">
                         {% csrf_token %}
                        <div class="form-group">
                            <label for="ver_number">Номер версии:</label>
                            <input required type="text" class="form-control ver-input" id="ver_number" name="ver_number" placeholder="введите номер версии">
                        </div>

                        <div class="ver-btn-container">
                            <input type="hidden" name="app_id" value="{{ app.id }}">
                            <input type="hidden" name="os_type" value="{{ os_type }}">
                            <input type="submit" value="Скомпилить" name="name" class="btn btn-primary compile-ver-btn"/>
                            <a href="#">
                                <input type="button" value="Отмена" name="name" class="btn btn-primary back-ver-btn"/>
                            </a>
                        </div>
                    </form>

                </div>
            </div>
      </div>

{% endblock %}

