{% extends "account_base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% load staticfiles%}

<div class="container">
    <div class="row titles-margin">
        <div class="col-lg-7">
            <p class="titles">Версии приложения <big>"{{app.name}}"</big> под <big>{{os_type}}</big></p>
        </div>
        <div class="col-lg-2 col-lg-offset-3">
            <form role="form" action="add"б id="add_version">
                <input type="hidden" name="app_id" value="{{ app.id }}"/>
                <input type="hidden" name="os_type" value="{{ os_type }}">
                <input type="submit" value="Добавить версию" class="btn btn-primary btn-shadow add-ver-btn"/>
            </form>

        </div>
    </div>


    <table class="table table-background">
        <tr>
            <th class="text-center">Номер</th>
            {% if privilege != 'G' %}
                <th class="text-center">Лог изменений</th>
            {% endif %}
            <th class="text-center">Дата создания</th>
            {% if privilege != 'G' %}
                <th class="text-center">Ссылка на код</th>
            {% endif %}
            <th class="text-center">Статус</th>
            {% if privilege != 'G' %}
                <th class="text-center">Удаление</th>
            {% endif %}
        </tr>
        {% for ver in versions %}
        <tr>
            <td class="text-center">{{ver.number}}</td>
            {% if privilege != 'G' %}
                <td class="text-center">
                    {% if ver.changes == 'CHANGELOG.md not found in master branch' %}
                        {{ver.changes}}
                    {% else %}
                        <a href="{{ver.changes}}">Просмотреть</a>
                    {% endif %}
                </td>
            {% endif %}
            <td class="text-center"> {{ ver.created_at }} </td>
            {% if privilege != 'G' %}
                <td class="text-center">
                    <a href="/account/media/{{ver.path}}">Скачать</a>
                </td>
            {% endif %}
            <td class="text-center"> {{ver.status}} </td>
            {% if privilege != 'G' %}
                <td>
                    <form role="form" action="/account/version/delete">
                        <input type="hidden" name="ver_id" value="{{ ver.id }}">
                        <input type="hidden" name="ver_type" value="{{ ver.ver_type }}">
                        <input type="hidden" name="app_id" value="{{ app.id }}">
                        <input type="submit" value="Удалить" class="btn btn-primary btn-xs btn-block"/>
                    </form>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

</div>

<div id="add_ver_modal" class="modal fade" role="dialog">
    <div class="container add-list-margin">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="add-list">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <p class="titles titles-margin">Добавление версии:</p>
                <form role="form" action="#" id="add_ver_btn">
                     {% csrf_token %}
                    <div class="form-group">
                        <label for="ver_number">Номер версии</label>
                        <input required type="text" class="form-control" id="ver_number" name="ver_number" placeholder="введите номер версии">
                    </div>
                    <input type="hidden" id="app_id" name="app_id" value="{{ app.id }}"/>
                    <input type="hidden" id="os_type" name="os_type" value="{{ os_type }}">

                    <div class="add-app-btn-container">
                        <input type="submit" value="Сохранить" class="btn btn-primary add-app-btn" />
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/show_ver.js' %}"></script>
{% endblock %}

