{% extends "account/templates/account_base.html" %}
{% block title %}Создание группы{% endblock %}
{% block content %}


<div class="container add-list-margin">
        <div class="col-lg-6 col-lg-offset-3">

                <form role="form" action="check_add" method="post" id="add-app">
                         {% csrf_token %}
                        <div class="form-group">
                            <label for="group_name">Имя группы:</label>
                            <input required type="text" class="form-control ver-input" id="group_name" name="group_name" placeholder="Введите имя группы">
                        </div>

                        <div class="ver-btn-container">
                            <input type="submit" value="Создать" name="name" class="btn btn-primary"/>
                            <a href="#">
                                <input type="button" value="Отмена" name="name" class="btn btn-primary"/>
                            </a>
                        </div>
                </form>
        </div>
</div>

{% endblock %}