{% extends "account_base.html" %}
{% block title %}Edit group{% endblock %}
{% block content %}
{% load staticfiles%}

<div class="container">
    <div class="row titles-margin">
        <div class="col-lg-7">
            <p class="titles">Группа {{ group.name }}</p>
        </div>
        <div class="col-lg-2 col-lg-offset-3">
            <form role="form" action="{% url 'show_group' %}" id="deleteGroup">
                <input type="submit" value="Удалить группу" class="btn btn-primary btn-shadow "/>
            </form>
            <form role="form" action="{% url 'show_group' %}">
                <input type="submit" value="Назад к группам" class="btn btn-primary btn-shadow"/>
            </form>

        </div>
    </div>

    <form role="form" action="{% url 'group_edit' %}" method="post" id="changeGroup">
        {% csrf_token %}
    <table class="table table-background">
        <tr>
            <th class="text-center">Логин пользователя</th>
            <th class="text-center">Уровень доступа</th>
            <th class="text-center">Изменить</th>
        </tr>
        {% for rule in rules %}
            {% if request.user.profile.id != rule.profile_id %}
                <tr>
                    <td class="text-center"> {{ rule.username }} </td>
                    <td class="text-center"> {{ rule.get_rule_display }} </td>
                    <td>
                        <select name="{{rule.profile.id}}" id="rule_new" class="form-control">
                            <option value="stay"> None </option>
                            {% for rule_type in rule.other_choices %}
                            <option value="{{ rule_type.0 }}"> {{ rule_type.1 }}</option>
                            {% endfor %}
                            <option value="remove"> Remove </option>
                        </select>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <input type="hidden" name="group_id" value="{{ group.id }}" id="group_id">
    <div class="col-lg-2 col-lg-offset-3">
        <input type="submit" value="Применить изменения" class="btn btn-primary btn-shadow "/>
    </div>
    </form>

    <div class="col-lg-2 col-lg-offset-3">
        <form role="form" action="invite/user" id="inviteUser">
            <label for="new_user">Имя пользователя</label>
            <input required type="text" class="form-control" id="new_user" name="new_user">
            <input type="submit" value="Пригласить пользователя" class="btn btn-primary btn-shadow "/>
        </form>

    </div>

</div>
<script src="{% static 'js/group_edit.js' %}"></script>
{% endblock %}

